body {
  background-color: lightgreen;
  width: 100%;
	z-index: -1;
}

.main {
  text-align: center;
  margin: 0 auto;
	z-index: 0;
}

.clone {
  border: 1px solid #1883d7;
	margin: 0 auto;
}

#cmd {
	width: 977px;
	height: 510px;
}

#gitbash {
	width: 700px;
	height: 400px;
}

.window-head {
	height: 30px;
	background-color: white;
}

.icon-small {
	float: left;
	margin: 9px 0 0 9px;
}

.title {
	display: inline-block;
	color: black;
	float: left;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	margin: 6px 0 0 10px;
	font-size: 12.2px;
}

.inner {
  background-color: #000;
}

#cmd .inner {
	height: 480px;
}

#gitbash .inner {
	height: 370px;
}

.scrollbar {
	width: 17px;
	height: 100%;
	background-color: #f0f0f0;
	float: right;
	position: relative;
}

.scroll-block {
	background-color: #cdcdcd;
	height: 17px;
	width: 15px;
	margin: 0 auto;
}

.scroll-arrow {
	font-size: small;
	font-weight: bold;
	padding-bottom: 1px;
}

#scroll-up {
	top: 0;
	color: #666;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#scroll-down {
	bottom: 0;
	color: #666;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.text {
	color: #c0c0c0;
	font-size: 16px;
	font-family: Consolas, monaco, monospace;
	float: left;
	left: 0;
}

footer {
	height: 20px;
}
